<h1>Connect Four on Rails</h1>
<p>
  Connect Four on Rails is a project to port the game "Connect Four" in to a Ruby on Rails application. </br>
  
  I do not own or have a licence for use of the Connect Four trademarks or brands, and as such this project is strictly for educational purposes. </br>
  
  Thanks to Michael Hartl for his excellent <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> from which I have shamelessly borrowed the layout and who provided my with the know how on authentication and html. </br>
  
  Thanks also go to Ryan B. for his excellent <a href="http://railscasts.com/">Railscasts</a>. </br>
  
  This is a work in Progress.
</p>