<table class="home">
<tr>
<% if signed_in? %>
<td class="main">      
	<% if !current_user.game.nil? %>
		<div id="gamecontainer" data-id="<%= @game.id %>"> 
			<%= render @game %>	
		</div>
	<% else %>
		<div id="controls"> <%= render 'users/play_controls' %> </div>
	<% end %>		
   </td>	
<% else %>
	<h1>Connect Four on Rails</h1>
	<p>
		<strong> <italics> Go for it! Connect Four!  
	</p>
	<%= link_to "Sign up to Play!", signup_path, :class => "signup_button round" %>
<% end %>
</tr>
</table>