<table class="game round">
	<tr>		
	<td> <center> <%= render 'games/title' %> </td> </br>
	</tr>
	<tr> 
	<td> <center> <%= render 'games/players' %> </td> </br>
	</tr>	 
	<% unless @game.game_board.nil? %>
		<tr> <td> <center> <%= render 'games/turn_display' %> </td> </br> </tr>			
		<tr> <td> <center> <%= render 'games/board' %> </td>  </br> </tr>
	<% end %>		
</table>