<table class="gametitle round">	
	<% if @game.game_over %>
		<th> Game Over! Click button to play again. </th>
	<% else %>
		<th> Connect Four! Try to get 4 tokens in a row to win! </th>	
	<% end %>	
</table>