<table class="gametitle round">	
	<h3> Connect Four! </h3> </br>
	<% if @game.game_over %>		
		<th> <center> <%= button_to "Game Over! Click to play again.", {:controller => "games", :action => :destroy}, :remote => true %> </th>
	<% else %>		
		<th> Try to get 4 tokens in a row to win! </th>	
	<% end %>	
</table>